# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

app/.DS_Store

app/.DS_Store

.DS_Store

app/.DS_Store

app/.DS_Store

app/.DS_Store

app/.DS_Store
