.ui-icon-speech {
	background-image: url("../img/speech.png");
	background-size: 18px 18px;
}

.ui-icon-gps {
	background-image: url("../img/gps.png");
	background-size: 18px 18px;
}

#logo{
	width:90%;
}

.ui-bar-a {
	background: #F8FAF2;
	border:none;
}

.ui-body-a,
.ui-dialog.ui-overlay-a {
	background: #EEEFF3;
	color:#222;
	border:none;
}

.ui-body-a,
.ui-dialog.ui-overlay-a.p{
	text-align:justify;
	/*font-size:1.8em;*/
}

.centrer{
	text-align:center;
	/*font-size:2em;*/
}	

.ui-input-search { background:#fff;}

.img_aventure{
	max-width:50%;
	max-height:50%;	
	border-radius:15px;
}
